:root {
  font-family: "Twemoji Country Flags", "Noto Sans Javanese", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 800;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  // display: flex;
  // place-items: center;
  // min-width: 320px;
  // min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em 0em 1.2em;
  margin: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
  
  img {
    width: 50px;
  }
}
button:hover {
  // border-color: #646cff;
  background-color: rgba(21, 17, 37, 0.06);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.shortbtn {
  padding: 0.6em 0em 0em 0em;
}

.banner {
  min-height: 20vw;
  background-color: #1a1a1a;
  margin: 0;

  font-family: "Playball", cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;

  h1 {
    margin: 0;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.7)
  }
}

.article {
  margin: auto;
  padding: 3rem;
  max-width: 60em;
}

.textground {
  text-align: justify;
  margin: 0em 10em;
}

.switchgallery {
    flex: 1;
    align-content: center;
  }

.galleryground {
  display: block;
  margin: 0em 3em;
}

.gallerybox {
    flex: 10;
    display: flex;
    padding: 1em;
    align-content: center;
  }

.galleryflex {
  display: flex;
}

.emptyflex {
  display: flex;
  flex: 1;
}

.imagebox {
  flex: 3;
  align-content: center;
  
  img {
    width: 100%;
    max-height: 10em;
    object-fit: cover;
    object-position: center;
  }
}

.textbox {
  flex: 4;
  padding: 0 0 0 1em;
  text-align: justify;
  align-content: center;
  
  h2 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
}

.certificateslide {
  flex: 10;
  display: flex;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.certificateground {
  display: flex;
  margin: 0em 8em;
  overflow: hidden;
}

.certificatesection {
  border-left: 1px solid #1a1a1a;
  margin: 0 0.5em 0 0 ;
  min-height: 10em;
  max-height: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  .certificateheader {
    text-align: left;
    margin: 0.5em 0 0 1em;
  }
  
  
}

.certificatefiles {
  padding: 0.5em 1em;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5em;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;   
  
  img {
    max-height: 7em;
    margin: 0 0.5em 0 0;
  }
} 

.contactlist {
  button {
    padding: 0 0.3em 0 0;
    background-color: rgba(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &:hover {
      background-color: rgb(255, 255, 255);
    }
  }

  img {
    width: 48px;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 1.4em 0 1em 0;
  color: rgba(255, 255, 255, 0.8);

  p {
    margin: 0;
  }
}

#app {
  margin: 0 auto;
  text-align: center;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
